# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac
.DS_Store

.idea/
.vscode/
.history/
*.test
*.out
*.su
*.tmp
*.exe
gsuneido
*.old
*.bak
convert/convert
SciLexer.dll
*.log
install.bat
en_US.*
