.vscode/
.history/
*.test
*.out
*.su
*.com
*.com~
*.exe
*.exe~
gsuneido
*.old
*.bak
*.dll
*.log
en_US.*
*.diff
*.db
*.prof
gsrace
gsport
gs_darwin_amd64
gs_linux_amd64
gs_linux_arm64
suneido.dbc
suneido.dbi
suneido.dbd
*.lnk
*.zip
*.ss
!stdlib/**/*.ss
