.vscode/
.history/
*.test
*.out
*.su
*.com
*.com~
*.exe
*.exe~
gsuneido
*.old
*.bak
*.dll
*.log
en_US.*
*.diff
*.db
*.prof
gsrace
gsport
gs_darwin_*
gs_linux_*
gs_windows_*
suneido.dbc
suneido.dbi
suneido.dbd
*.lnk
*.zip
*.ss
!stdlib/**/*.ss
server.crt
server.key
*.in
.kilocode/
