1       24       "res\\suneido.manifest"

112     ICON     "res\\suneido.ico"

126     ICON     "res\\folder.ico"
129     ICON     "res\\openfolder.ico"
127     ICON     "res\\document.ico"
128     ICON     "res\\docyellow.ico"
183     ICON     "res\\downarrow.ico"
192	    ICON     "res\\close.ico"

130     CURSOR   "res\\hand.cur"
138     CURSOR   "res\\push.cur"
140     CURSOR   "res\\drag1copy.cur"
141     CURSOR   "res\\dragncopy.cur"
142     CURSOR   "res\\hande.cur"
143     CURSOR   "res\\handn.cur"
144     CURSOR   "res\\hands.cur"
145     CURSOR   "res\\handw.cur"
184     CURSOR   "res\\arrowmove.cur"
186     CURSOR   "res\\splitright.cur"
187     CURSOR   "res\\splittop.cur"
188     CURSOR   "res\\splitbottom.cur"
189     CURSOR   "res\\arrowstack.cur"
30980   CURSOR   "res\\splith.cur"
30981   CURSOR   "res\\splitv.cur"
30982   CURSOR   "res\\drag1.cur"
30983   CURSOR   "res\\dragn.cur"
