---
BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: true
AlignEscapedNewlines: DontAlign
AlignOperands: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
IndentWidth: 4
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
SortIncludes: false
SortUsingDeclarations: false
TabWidth: 4
UseTab: ForContinuationAndIndentation
...
